.foot{
  flex:1;
  color:white;
  background-color: rgb(39,39,39);
  padding-top: 80px;
  padding-bottom: 81px;
  
}
.number_visitors{
  font-size: 108px;
  color:rgb(245,203,92);
  font-weight:500;
}

.details-container{
  padding-left:120px;
  width:50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imgs{
  display: flex;
  flex-direction: row;
  column-gap: 30px;

}

.logo1{
  width:20px;
  height:20px;
}