.hero-section{
  background-image: url(images\pexels-alexazabache-3879060.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.navbar{
  margin-top: 55px;
  padding:10px;
  display:flex;
  flex-direction: row;
  column-gap: 40px;
  margin-left:120px;
}

.navlink{
  color: black;
}

.company-details{
  left:120px;
  top:300px;
  right:400px;
  min-width: 100px;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  padding-right:100px;
  padding-left:100px;
  padding-top: 80px;
  border-radius: 50px;
  display:flex;
  flex-direction: column;
  justify-content: center;

}

.company-name{
  flex:1;
  font-family: 'Konkhmer Sleokchher';
  margin-bottom: 5px;
  font-size:128px;
  color:rgb(245,203,92);
}
.mission{
  flex:1;
  color:white;
  margin-bottom:20px;
  margin: 0;
}

.CTA-button{
  background-color: black;
  color: white;
  width:200px;
  padding:10px;
  border: none;
  text-align: center;
  border-radius: 5px;
}