.hero-section{
  background-image: url('/images/pexels-alexazabache-3879060.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.navbar{
  margin-top: 55px;
  padding:10px;
  display:flex;
  flex-direction: row;
  column-gap: 40px;
  margin-left:120px;
}

.navlink{
  color: black;
}

.navlink:hover{
  opacity:0.4;
}

.company-details{
  margin-top:150px;
  margin-left:120px;
  width:50%;
  background-color: rgba(0,0,0,0.6);
  padding-right:40px;
  padding-left:80px;
  padding-bottom: 50px;
  padding-top: 40px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;

}

.company-name1{
  flex:1;
  font-family: 'Konkhmer Sleokchher';
  font-size:7rem;
  color:rgb(245,203,92);
  font-weight: 500;
}

.mission{
  margin-top:0;
  flex:1;
  color:white;
  margin-bottom: 0px;

}

.CTA-button{
  margin-top:0;
  background-color: black;
  color: white;
  width:200px;
  padding:20px;
  border: none;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.15s color 0.15s;
  cursor: pointer; 

}
.CTA-button:hover{
  color: black;
  background-color: white;
  
}

