.services{
  background-color:rgb(245,203,92);
}

.services-container{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.services-title{
  flex:1;
  font-family: 'Konkhmer Sleokchher';
  font-size:128px;
  text-align: center;
}

.services-container > .line{
    background-color: black;
    width:900px;

}

.features-container{
  display: flex;
  flex-direction: row;
  column-gap: 80px;
  flex:4;
}




.feature-box{
  background-color: rgb(39,39,39);
  flex:8;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.left-arrow,
.right-arrow {
  background: rgb(39,39,39);
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.feature-carousel{
  display: flex;
  overflow: hidden;
  width: 80%;
  scroll-behavior: smooth;
}

.card {
  background: rgb(39,39,39);
  color: white;
  border-radius: 10px;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  min-width: 100%;
  transition: transform 0.3s ease;
}

.card img {
  width: 200px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.card-content {
  text-align: left;
}

.card-content h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: rgb(245,203,92);
}