.services{
  padding-top: 80px;
  padding-bottom:80px;
  background-color:rgb(245,203,92);
  flex:1;
}
.title-container{
  padding-left:50px;
  padding-right:50px;
}
.services-title{
  font-family: 'Konkhmer Sleokchher';
  font-size:128px;
  text-align: center;
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

.services-container > .line{
    background-color: black;
    width:900px;

}

.features-container{
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}



.left-arrow,
.right-arrow {
  background: rgb(39,39,39);
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 50%;
  width:80px;
  height:80px;
  cursor: pointer;
}

.feature-carousel{
  flex:2;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  flex-shrink:0;
}

.card {
  background: rgb(39,39,39);
  color: white;
  display: flex;
  padding:50px;
  gap:60px;
  min-width: 100%;
  transition: transform 0.3s ease;
}

.image-container {
  flex:1; 
}

.imgservice{
  object-fit: cover;
  width:400px;
  height:400px;
}

.card-content {
  padding-left: 30px;
  text-align: left;
  flex:3;
}

.card-content p{
  width:80%;
}

.card-content h3 {
  width:70%;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: rgb(245,203,92);
}