.testimonials{
  background-color:rgb(207,219,213);
  padding-left: 100px;
  padding-right:100px;
}
.testimonialll{
  display:flex;
  flex-direction: column;
}



.review{
  font-weight: bold;
}
 
.testimonials-title{
  margin-top: 0;
  font-family: 'Konkhmer Sleokchher';
  font-size:128px;
  text-align: center;
  margin-top:30px;
  margin-bottom: 0;
 }
 .testimonial-header{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
 }

.testimonialll > .line {
  background-color: black;
  width:100%;
  margin-top: 0;
}

.testimonial-container{
  margin-top:70px;
  display: flex;
  flex-direction: column;
  row-gap:40px;
  margin-bottom:70px;
  justify-content: center;
}

.testimonial-box{
  padding-left: 30px;
  padding-right:30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius:8px;
}
.reviewer-block{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.reviewername{
  margin-bottom:0;
}

.reviewertitle{
  margin-top:0;
}